@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer {
    display: flex;
    max-width: 90rem; /* 1440px / 16 */
    width: 100%;
    padding-top: 2.5rem; /* 40px / 16 */
    margin: 0 auto;
    background-color: #E1D4C9;
    /* height: auto; */
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 95%;
    height: 28.125rem; /* 450px / 16 */
    margin: 0 auto;
    border: 0.0625rem solid grey; /* 1px / 16 */
    background-color: #665F55;
    border-radius: 3.125rem; /* 50px / 16 */
    position: center center;
    text-align: left;
    margin-bottom: 2.5rem; /* 40px / 16 */
    /* max-width: 90rem; */
    /* height: 90%; */
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.125rem; /* 50px / 16 */
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.125rem; /* 50px / 16 */
}

.footer__title {
    color: #E1D4C9;
    font-size: 1.5rem;
    margin-bottom: 1.875rem; /* 30px / 16 */
}

.footer__greeting {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem; /* 5px / 16 */
}

.footer__social-icons {
    display: flex;
    gap: 2.5rem; /* 40px / 16 */
    list-style-type: none;
    margin-top: 1.25rem; /* 20px / 16 */
}

.footer__social-icon:hover {
    cursor: pointer;
}

.footer__greeting-title {
    font-size: 1.5rem;
    color: #E1D4C9;
}

.footer__greeting-text {
    color: #B0907A;
    font-style: italic;
    font-size: 4rem;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px / 16 */
    color: #E1D4C9;
}

.footer__greeting-title {
    color: #E1D4C9;
    font-size: 4rem;
}

.footer__contact-info-item {
    display: flex;
    gap: 1.25rem; /* 20px / 16 */
}

.footer__link {
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.footer__link-text {
    text-decoration: none;
    color: #E1D4C9;
    font-style: normal;
}

.footer__link:hover {
    cursor: pointer;
}



